{% extends 'stores/main_template.html' %}
{% load static %}

{% block content %}

{% include 'stores/breadcrumb.html' %} 

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">

                <a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>

                <br>
                <br>
                <table class="table">
                    <tr>
                        <th><h5>Items: <strong>{{order.get_cart_quantity}}</strong></h5></th>
                        <th><h5>Total: <strong>₦{{order.get_cart_total|floatformat:2}}</strong></h5></th>
                        <th>
                            <a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
                        </th>
                    </tr>
                </table>

            </div>

            <br>
            <div class="box-element">

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col">Item</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                                
                                <tr>
                                    <th scope="row"><img class="row-image" src="{{item.product.imageURL}}"> </th>
                                    <td><p>{{item.product.name}} </p></td>
                                    <td> <p>₦{{item.product.price|floatformat:2}}</p></td>
                                    <td>
                                        <p class="quantity">{{item.quantity}}</p>
                                        <div class="quantity">
                                            <img data-product={{item.product.id}} data-action="add" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">
                                    
                                            <img data-product={{item.product.id}} data-action="remove" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">
                                        </div>
                                    </td>
                                    <td><p>₦{{item.get_total_cost}}</p></td>
                                </tr>
                                
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                
            </div>
        </div>
    </div>
</div>
{% endblock content %}
