{% extends 'stores/main_template.html' %}

{% block content %}
{% include 'stores/breadcrumb.html' %} 

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h5>Hello {{customer.first_name}} {{customer.last_name}}</h5>
            <h5>Please find below a summary of your purchases from our store.</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
	
                <div class="col-md-3">
                    <div class="card text-center text-white  mb-3" id="total-orders">
                        <div class="card-header">
                            <h5 class="card-title">Total Orders</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"><span class="fa fa-shopping-cart fa-2x"></span> {{total_orders}}</h3>
                        </div>
                    </div>
                </div>
                
            
                
                <div class="col-md-3">
                    <div class="card text-center text-white  mb-3" id="orders-pending">
                        <div class="card-header">
                            <h5 class="card-title">Orders We're Processing</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"><span class="fa fa-cog fa-spin fa-2x fa-fw"></span> {{processing}}</h3>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-md-3">
                    <div class="card text-center text-white  mb-3" id="orders-shipped">
                        <div class="card-header">
                            <h5 class="card-title">Orders We've Shipped</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"><span class="fa fa-truck fa-2x"></span> {{shipped}}</h3>
                        </div>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="card text-center text-white  mb-3" id="orders-delivered">
                        <div class="card-header">
                            <h5 class="card-title">Orders We've Delivered</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"><span class="fa fa-check fa-2x"></span> {{delivered}}</h3>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="row">
        
        <div class="col-md-12">
            <h5>Here is your detailed Order information:</h5>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Transaction ID</th>
                        <th scope="col">Date Ordered</th>
                        <th scope="col">Total Amount</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            {% if order.complete %}
                                <tr>
                                    <th scope="row"><a href=" {% url 'order' order.id %} ">{{order.transaction_id}}</a>  </th>
                                    <td> {{order.date_ordered}} </td>
                                    <td> ₦{{order.get_cart_total}} </td>
                                    <td> {{order.status}} </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>

    </div>
</div>
{% endblock content %}