{% extends 'admins/admin_template.html' %}
{% load static %}

{% block content %}


<div class="container-fluid">
  <div class="row">
    {% include 'admins/admin_sidebar.html' %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <!--
            <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
            </div>
        -->
          
      </div>


      <!--
          <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
      -->
      
      <h2>Quick Stats</h2>
      <div class="row" id="stats">
        
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-md-4 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Orders Today</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{orders_day}}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fa fa-calendar fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-md-4 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Orders This Week</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{orders_week}}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fa fa-calendar-plus-o fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
        </div>

          <!-- Earnings (Monthly) Card Example -->
        <div class="col-md-4 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Orders this Month</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{orders_month}}</div>
                </div>
                <div class="col-auto">
                  <i class="fa fa-calendar-o fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

          <!--

        
        <div class="col-md-4 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings Today</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                </div>
                <div class="col-auto">
                  <i class="fa fa-bitcoin fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        
        <div class="col-md-4 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings This Week</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                </div>
                <div class="col-auto">
                  <i class="fa fa-dollar fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
     
    
        <div class="col-md-4 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings This Month</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                </div>
                <div class="col-auto">
                  <i class="fa fa-euro  fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        -->


      </div>
      
      

    
      <hr>
      <h2>Products ({{products_count}})</h2>

      <div class="row">
        <div class="col-md-12">

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Image</th>
                  <th scope="col">Name</th>
                  <th scope="col">Price</th>
                  <th scope="col">Date Added</th>
                  <th scope="col">No. of purchases</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {% for product in products %}
                <tr>
                  <td scope="row"><img class="row-image" src="{{product.imageURL}}"> </td>
                  <td> {{product.name}} </td>
                  <td> ₦{{product.price}} </td>
                  <td> {{product.date_added}} </td>
                  <td> {{product.get_product_count}} </td>
                  <td><a href="{% url 'update_product' product.id %}"><button type="button" class="btn btn-info btn-sm">Update</button></a></td>
                  <td><a href="{% url 'delete_products' product.id %}"><button type="button" class="btn btn-danger btn-sm">Delete</button></a></td>
                </tr>
                {% endfor %}
                          
                    
              </tbody>
            </table>
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <a href=" {% url 'add_products' %} "><button type="button" class="btn btn-info btn-lg btn-block">Add New</button></a>
        </div>
        <div class="col-md-4"></div>
      </div>

      <hr>
      <h2>Order Statistics</h2>
      <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-md-3 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Orders Pending</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_orders_pending}}</div>
                </div>
                <div class="col-auto">
                  <i class="fa fa-cog fa-spin fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Orders Shipped</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_orders_shipped}}</div>
                </div>
                <div class="col-auto">
                  <i class="fa fa-truck fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Orders Delivered</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_orders_delivered}}</div>
                </div>
                <div class="col-auto">
                  <i class="fa fa-check  fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Orders</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_orders_count}}</div>
                </div>
                <div class="col-auto">
                  <i class="fa fa-shopping-cart fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <h2>Orders Pending ({{orders_pending_count}})</h2>
      <div class="row">
        <div class="col-md-12">

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Transaction ID</th>
                  <th scope="col">Date Ordered</th>
                  <th scope="col">Total Amount</th>
                  <th scope="col">Status</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                  {% for order in orders_pending %}
                      
                    <tr>
                      <th scope="row"><a href=" {% url 'order' order.id %} ">{{order.transaction_id}}</a>  </th>
                      <td> {{order.date_ordered}} </td>
                      <td> ₦{{order.get_cart_total}} </td>
                      <td> {{order.status}} </td>
                      <td><a href="{% url 'update_status' order.id %}"><button type="button" class="btn btn-info btn-sm">Update Status</button></a></td>
                    </tr>
                     
                  {% endfor %}
              </tbody>
            </table>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <a href=" {% url 'full_orders' %} "><button type="button" class="btn btn-info btn-lg btn-block">View All</button></a>
        </div>
        <div class="col-md-4"></div>
      </div>


      <hr>
      <h2>Registered Customers ({{registered_users_count}})</h2>

      <div class="row">
        <div class="col-md-12">

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Username</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone Number</th>
                  <th scope="col">Total Purchases</th>
                  <th scope="col">Total Amount Spent</th>
                  
                </tr>
              </thead>
              <tbody>
               
                {% for user in  registered_users %}
                  <tr>
                   
                    <th scope="row">{{user.first_name}} </th>
                    <td>{{user.last_name}} </td>
                    <td> {{user.username}} </td>
                    <td> {{user.email}} </td>
                    <td> {{user.customer.phone}} </td>
                    <td> {{user.customer.get_complete_order}} </td>
                    <td> ₦{{user.customer.get_amount_spent}} </td>
                    
                  </tr> 

                {% endfor %} 
                 
              </tbody>
            </table>
          </div>

        </div>
      </div>


      <hr>

    </main>
  </div>
</div>

{% endblock content %}